/* font noto sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common */
.wrap {
    font-family: 'Noto Sans KR', sans-serif;
    font: 15px;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    z-index: 20;
    /* background: red; */
}

header .inner-header {
    width: 92%;
    height: 120px;
    margin: 0 auto;
    /* background: orange; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .inner-header .logo {
    flex: 1;
    /* background: tomato; */
}

header .inner-header .logo a {
    display: block;
    width: 100%;
}

header .inner-header .logo a img {
    height: 60px;
}

header .inner-header .intro-text {
    flex: 4;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
    /* background: red; */
}

header .inner-header .menu-open {
    flex: 1;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    /* background: skyblue; */

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner-header .menu-open .lnr-menu {
    display: block;
    font-size: 33px;
    margin-left: 15px;
}

/* section visual */
section.visual .slide li {
    width: 100%;
    height: 100vh;
    background: #222;
    position: relative;
    overflow: hidden;
}

section.visual .slide li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

section.visual .slide li .txt {
    /* background: #000; */
    position: absolute;
    color: #fff;
    font-size: 18px;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
}

section.visual .slide li .txt a {
    display: inline-block;
}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    position: absolute;
    color: #ccc;
    font-size: 14px;
    font-weight: 700;
    left: 50px;
    bottom: 10%;
    transform: rotate(-90deg);
}

/* section contents */
section.contents {
    background: #1b1b1b;
    padding: 120px 0;
}

/* section contents > .main-text */

section.contents .main-text {
    /* background: skyblue; */
    width: 1170px;
    margin: 0 auto;
    color: #fff;
    font-size: 25px;
    position: relative;
    display: flex;
}

section.contents .main-text::before {
    content: "";
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 130px;
}

section.contents .main-text::after {
    content: "â€";
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 120px;
}

section.contents .main-text h3 {
    /* background: red; */
    flex: 1;
    font-weight: 700;
    line-height: 1.2;
}

section.contents .main-text p {
    /* background: blue; */
    flex: 1.5;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
}

/* section contents > .project */
section.contents .project {
    color: #fff;
}

section.contents .project .top {
    width: 1170px;
    margin: 130px auto 60px;
    display: flex;
    justify-content: space-between;
}

section.contents .project .top h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.1;
}

section.contents .project .top a {
    display: block;
    font-size: 18px;
}

section.contents .project .top a span {
    font-size: 14px;
    margin-left: 5px;
}

section.contents .project ul {
    display: flex;
    justify-content: space-evenly;
}

section.contents .project ul li {
    height: 400px;
    position: relative;
}

section.contents .project ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

section.contents .project ul li a img {
    width: 100%;
    height: 100%;
}

section.contents .project ul li a .name {
    background: #1b1b1b;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 22px;
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0;
}

section.contents .project ul li a:hover .name {
    opacity: 1;
    animation: title-rise-up 1s;
}

@keyframes title-rise-up {
    0% {
        opacity: 0;
        bottom: -10%;
    }

    100% {
        opacity: 1;
        bottom: 10px;
    }
}

section.contents .project ul li a .name span {
    font-size: 15px;
    font-weight: 700;
}

section.contents .project ul li a .name h3 {
    text-transform: uppercase;
}

section.contents .project ul li a::before {
    content: "";
    background: rgba(27,27,27, .9);
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.6s;
}

section.contents .project ul li a:hover::before {
    width: 100%;
}

/* section.contents > .partner */
section.contents .partner {
    width: 1170px;
    margin: 170px auto 100px;
    color: #fff;
}

section.contents .partner h3 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 80px;
}

section.contents .partner ul {
    /* background: skyblue; */
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

section.contents .partner ul li img {
    opacity: .4;
    transition: .3s;
}

section.contents .partner ul li img:hover {
    opacity: 1;
}

/* section contents > .content */

section.contents .contact {
    width: 90%;
    background: url(../img/contact.jpg) no-repeat center/cover fixed;
    padding: 220px 0;
    color: #fff;
}

section.contents .contact .inner {
    width: 1170px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.1;
}

section.contents .contact .inner h3 {
    font-weight: 400;
}

section.contents .contact .inner .tel {
    font-size: 55px;
    font-weight: 700;
    margin: 50px 0;
}

/* footer */
footer {
    background: #1b1b1b;
    color: #999;
    padding: 0 80px 80px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li:nth-child(2) {
    color: #fff;
    font-size: 16px;
    line-height: 2;
}

footer ul li:nth-child(2) span {
    font-weight: 700;
    margin-right: 10px;
    color: #999;
}

footer ul li:nth-child(3) {
    font-weight: 700;
}

footer .go-top {
    color: #fff;
    font-size: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
}